@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}
.sidebar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}
.left{
  display: flex;
  align-items: center;
}
.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

.searchbar {
  display: flex;
  border-radius: 20px;
}

.searchbar form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
  border-radius: 20px;
  align-items: center;

  
}

.searchbar input {
  width: 600px;
  padding: 10px;
  border:0;
  height: 100%;
  border-radius: 20px;
}

input:focus {
  outline: none;
  border: 1px solid #f9f9f9;
}
.recomended-categories {
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  width: 100%;
  align-items: center;
  height: 3%;
  place-items: center;
  margin-left: 0%;

}
.recomended-categories nav::-webkit-scrollbar {
  display: none;
}
.recomended-categories nav button:hover {
  background-color: rgb(229, 227, 227);
  transition: background-color 0.2s ease;
}
nav {
  background:#ffffff;
  text-align: center;
  margin: auto;
  place-items: center;
  align-items: center;
  opacity: 0.98;
  position: sticky;
  width: 100%;
  top: 49px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  vertical-align: top;
  border-bottom: 1px solid rgb(235, 233, 233);
  border-top: 1px solid rgb(235, 233, 233);
  padding: 12px 0;
  z-index: 2;
}
nav button {
  text-align: center;
  margin: auto;
  place-items: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 6px;
  margin-right: 0;
  border: 1px solid lightgrey;
  border-radius: 25px;
  padding: 6px 10px;
  cursor: pointer;
}
.searchbar button {
  height: 80%;
  width: 30px;
  border: none;
  left: 30%;
  border-radius: 15px;
}
.mic {
  margin-top: 10px;
}

.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}
.nav-link span {
  margin-left: 15px;
}
.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}
.nav-link  img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.active {
  background: #e5e5e5;
}
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}
.videos {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video {
  width: 350px;
  margin-bottom: 30px;
  height: 250px;
}
.thumbnail {
  width: 100%;
  height: 200px;
}
.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
  border-radius: 12px;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 7px;
}
.details {
  display: flex;
}
.title {
  display: flex;
  flex-direction: column;
  float:right;

}
.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}
.title a, span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;

}


@media (max-width: 1050px){
  .searchbar input {
    width: 30rem;
  }
}

@media (max-width: 900px){
  .searchbar input {
    width: 25rem;
  }
}

@media (max-width: 810px){
  .searchbar input {
    width: 20rem;
  }
}

@media (max-width: 730px) {
  .side-bar {
    display: none;
  }
  .searchbar input {
    width: 15rem;
  }

  
}
@media (max-width: 650px) {
  .side-bar {
    display: none;
  }
  .searchbar input {
    width: 10rem;
  }

  
}
@media (max-width: 569px) {
  .side-bar {
    display: none;
  }
 i.material-icons   {
    display: none;
  }
  .searchbar input {
    display: none;
  }
.searchbar form {
  border: none;
  outline: none;
}
.searchbar {
  margin-left: 20%;
}
  
}

@media (max-width: 499px) {
  .side-bar {
    display: none;
  }
  .searchbar input {
    display: none;
  }
.searchbar form {
  border: none;
  outline: none;
}
.searchbar {
  margin-left: 20%;
}
  
}